# wildcards
.deps
.dirstamp
.libs
*.jar
*.la
*.lo
*.o
*.pyc
/bindings/java/org/hyperdex/*/*.class
/man/hyperdex*.1
/man/hyperdex*.1.h2m
# specific files
/aclocal.m4
/admin/parse_space_l.c
/admin/parse_space_y.c
/admin/parse_space_y.h
/autom4te.cache
/bindings/c/admin_testcompile
/bindings/cc/admin_testcompile
/bindings/cc/client_testcompile
/bindings/c/client_testcompile
/bindings/java/hyperdex_client_wrap.cxx
/bindings/java/org/hyperdex/client/Client.java
/bindings/java/org/hyperdex/client/hyperdatatype.java
/bindings/java/org/hyperdex/client/hyperdex_client_attribute_check.java
/bindings/java/org/hyperdex/client/hyperdex_client_attribute.java
/bindings/java/org/hyperdex/client/hyperdex_client.java
/bindings/java/org/hyperdex/client/hyperdex_clientJNI.java
/bindings/java/org/hyperdex/client/hyperdex_client_map_attribute.java
/bindings/java/org/hyperdex/client/hyperdex_client_returncode.java
/bindings/java/org/hyperdex/client/hyperpredicate.java
/bindings/java/org/hyperdex/client/SWIGTYPE_p_hyperdex_client.java
/bindings/java/org/hyperdex/client/SWIGTYPE_p_hyperdex_client_returncode.java
/bindings/java/org/hyperdex/client/SWIGTYPE_p_p_char.java
/bindings/java/org/hyperdex/client/SWIGTYPE_p_p_hyperdex_client_attribute.java
/bindings/java/org/hyperdex/client/SWIGTYPE_p_size_t.java
/bindings/java/org/hyperdex/client/SWIGTYPE_p_unsigned_long_long.java
/bindings/python/_hyperdex_admin.c
/bindings/python/_hyperdex_client.c
/client/keyop_info.cc
/client/test/datastructures
/common/test/ordered_encoding
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/daemon/test/identifier_collector
/daemon/test/identifier_generator
/daemon/test/index_encode
/depcomp
/doc/_build/
/doc/HyperDex-*.pdf
/doc/man/hyperdex-daemon.1
/doc/man/hyperdex-simple-consistency-stress-test.1
/hyperdex
/hyperdex-add-space
/hyperdex-admin.pc
/hyperdex-async-benchmark
/hyperdex-benchmark
/hyperdex-binary-test
/hyperdex-client.pc
/hyperdex-coordinator
/hyperdex-daemon
/hyperdex-initialize-cluster
/hyperdex-initiate-transfer
/hyperdex-kill
/hyperdex-perf-counters
/hyperdex-rm-space
/hyperdex-server-forget
/hyperdex-server-kill
/hyperdex-server-offline
/hyperdex-server-online
/hyperdex-server-register
/hyperdex-set-read-only
/hyperdex-set-read-write
/hyperdex-show-config
/hyperdex-simple-consistency-stress-test
/hyperdex-validate-space
/install-sh
/leveldb-dump
/libtool
/ltmain.sh
/m4
/maint/lib-check
/Makefile
/Makefile.in
/missing
/stamp-h1
/test/replication-stress-test
/test/search-stress-test
/ylwrap
