/hyperdex.aux
/hyperdex.bbl
/hyperdex.dvi
/hyperdex.idx
/hyperdex.ilg
/hyperdex.ind
/hyperdex.log
/hyperdex.out
/hyperdex.P
/hyperdex.pdf
/hyperdex.ps
/hyperdex.stdout.log
/hyperdex.toc
/.hyperdex.xtx.cache
/_minted-hyperdex/
